ul {
	display: inline-block;
	list-style-type: none;
	margin: 0px;
	padding: 10px;
}
 
li {
	float: left;
}
 
a {
	padding: 20px;
	color: orangered;
	font-size: 19px;
	font-family: Arial, Helvetica, sans-serif;
}
 
a:hover {
	background-color: green;
	color: white;
}
 
a.active {
	background-color: blue;
	color: white;
}

a.myrollover:hover {
	background-image: url(../images/img2css.jpg);
}

.mycontainer {
	margin: auto;
	width: 70%;
	height: 500px;
	background-color: #f1f1f1;
	padding-top: 60px;
}

a.myrollover {
	display: block;
	width: 335px;
	height: 350px;
	background-image: url(../images/img1html.jpg);
	background-size: cover;
    background-position: center;
}
 
body {
	 background: linear-gradient(45deg, rgb(118, 201, 255), rgb(247, 255, 222));
	text-align: center;
}
 
nav {
	
	margin: 0px;
	padding-top: 10px;
	height: 50px;
	text-align: center;
	width: 100%;
}
 
.mainbody {
	background-color: #ADD8E6;
	padding: 10px 20px 20px;
	width: auto;
	text-align: center;
}

#dbanner {
	width: 100%;
	height: 40px;
	max-width: 1200px;
	margin-top: 20px;
	display: inline-block;
	padding: 10px 20px 20px;
	
}
#dbanner image {
	width: 100%;
	height: auto;
	display: block;
}

#dfull1, #dfull1 {
	padding: 10px;
}
 
footer {
	background-color: lightblue;
	height: 40px;
	padding: 10px;
	text-align: center;
}
